/******************************
GENERAL
******************************/
body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
 text-decoration: none; 
}

img {
max-width: 100% /* tells images to fill the width of the parent container. if container shrinks, image shrinks too. */
}

h3 {
  margin: 0 0 1em 0; 
  
}
/******************************
HEADING
******************************/

header {
float: left; /* makes sense when doing desktop.. */
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
 
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', Sans Serif;
  margin: 15px 0;
  font-size: 1.75em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0; /* first value sets top, second sets left and right, thrid sets bottom// negative pulls in other elements (less space) */ 
  font-weight: normal; /* unbold */

}



/******************************
NAVIGATION
******************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block; /* place elements in a line */
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/******************************
FOOTER
******************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both; /* used so that footer doesnt float around with gallery items */
  padding-top: 50px;
  color: #ccc;

}

/* using a class */
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
/* shrinking icons will give them more detail in a denser area */
}


/******************************
PAGE: PORTFOLIO
******************************/

#gallery {
  padding: 0;
  margin:0;
  list-style: none; /*removes bulletpoints*/
}

#gallery li {
  float: left; /*makes images float next to each other instead of one after the other */
  width: 45%; /* no matter what screen browsser is on, images will always be this value-images are scaled - 45% of width*/
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}



/******************************
PAGE: ABOUT
******************************/

.profile-photo {
display: block; /* make block so that default inline is gone to ensure photo is not "in line" with the ext. we want it to be one after the other on the page" */
  max-width: 150px;
    margin: 0 auto 30px; /* auto makes it the width of the container or element */
  border-radius: 100%; /* makes rounded corners */

}



/******************************
PAGE: CONTACT
******************************/


.contact-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  
}

.contact-info a{
  display: block; /* so images can take up space */
  min-height: 20px;
  background-repeat: no-repeat; /* background images in css will always repeat by default, so set this to no repeat */
  background-size: 20px 20px;
  padding: 0 0 0 30px;/*space on left side of text, moves text in */
  margin: 0 0 10px;

}
.contact-info li.phone a{
background-image: url('../img/phone.png');
}

.contact-info li.mail a{
background-image: url('../img/mail.png');

}  
  
.contact-info li.twitter a{
background-image: url('../img/twitter.png');

}
/******************************
COLORS
******************************/

/* green header */
header {
  background: #6ab47b;
  border-color: #599a68;
}

/* links */
a {
  color: #6ab47b
}

/* logo text */
h1, h2 {
color: #fff;
}

/* nav backrground on mobile devices */
nav {
  background-color: #599a68;
}

/* nav link */
nav a, nav a:visited {
  color: white;
}


/* selected nav link */
nav a.selected, nav a:hover {
  color:#32673f;
}



/* site body */
body {
  background-color: #fff;
  color: #999;
}